@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff9f1c;
  --secondary: #2ec4b6;
  --apricot: #ffbf69;
  --white: #fff;
  --water: #cbf3f0;
  --black: #000;
}

/* Norwester */
@font-face {
  font-family: 'Norwester';
  src: url('/fonts/n.otf');
}
/* Kollektif */
@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/k.ttf');
}
/* Source Sans Pro */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/ssp.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/sspb.otf');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'SourceSansPro', system-ui, sans-serif;
  }
  body {
    @apply bg-white;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }

  .title {
    @apply font-norwester text-[42px];
  }

  .sub-title {
    @apply font-kollektif text-[36px];
  }

  .heading {
    @apply font-source-sans-pro text-[32px];
  }

  .sub-heading {
    @apply font-source-sans-pro text-[24px];
  }

  .body-text {
    @apply font-source-sans-pro text-[16px];
  }
}

/* Ant Design Checkbox */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.ant-btn-primary {
  background: var(--secondary) !important;
  color: #000;
}
